<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

  <script src="https://unpkg.com/vue"></script>
  <script src="dist/pdflab.js"></script>
</head>
<style type="text/css">
  body {
    margin-top: 25px;
  }
</style>
<body>
  <div id="app" class="container-fluid">

    <form class="form-inline" v-on:submit.prevent="openUrl($event)">
      <input
        class="form-control"
        type="file"
        @change="openFile($event)" />
      <input
        class="form-control"
        type="text"
        v-model="url" />
      <button
        class="btn"
        type="submit">
        Open URL
      </button>
    </form>


    <div class="panel panel-default" v-if='pdf'>
      <div class="panel-heading">{{ fileName }}</div>
      <div class="panel-body" style="padding: 0;">

        <pdf-lab :pdf="pdf"
          @pdflabload="done"
          @pdflaberror="error" />

      </div>
    </div>

  </div>
  <script>
    Vue.use(PDFLab, {
      workerSrc: 'dist/pdf.worker.js'
    });
    new Vue({
      el: '#app',
      data: {
        fileName: '',
        pdf: '',
        url: 'https://gitlab.com/gitlab-com/marketing/raw/master/design/print/git-cheatsheet/print-pdf/git-cheatsheet.pdf',
      },
      methods: {
        openFile(e) {
          const reader = new FileReader();
          reader.onload = (e) => {
            this.pdf = new Uint8Array(e.target.result);
          };
          reader.readAsArrayBuffer(e.target.files[0]);
          this.fileName = e.target.files[0].name;
        },
        openUrl(e) {
          if (this.url === '') return;
          e.target.files = [];
          this.fileName = this.url;
          this.pdf = this.url;
        },
        done() {
          console.log('Finished loading');
        },
        error(error) {
          this.pdf = '';
          alert('There was an error loading your PDF');
          console.error(error.message);
        }
      },
    });
  </script>
</body>
