<template>
  <div class="pdf-viewer" v-if="hasPDF">
    <page v-for="(page, index) in pages"
      :key="index"
      :v-if="!loading"
      :page="page"
      :number="index + 1" />
  </div>
</template>

<script>
  import pdfjsLib from 'pdfjs-dist';
  import page from './page/index.vue';

  export default {
    props: {
      pdf: {
        type: [String, Uint8Array],
        required: true,
      },
    },
    data() {
      return {
        loading: false,
        pages: [],
      };
    },
    components: { page },
    watch: { pdf: 'load' },
    computed: {
      document() {
        return typeof this.pdf === 'string' ? this.pdf : { data: this.pdf };
      },
      hasPDF() {
        return this.pdf && this.pdf.length > 0;
      },
    },
    methods: {
      load() {
        this.pages = [];
        return pdfjsLib.getDocument(this.document)
          .then(this.renderPages)
          .then(() => this.$emit('pdflabload'))
          .catch(error => this.$emit('pdflaberror', error))
          .then(() => { this.loading = false; });
      },
      renderPages(pdf) {
        const pagePromises = [];
        this.loading = true;
        for (let num = 1; num <= pdf.numPages; num += 1) {
          pagePromises.push(
            pdf.getPage(num).then(p => this.pages.push(p)),
          );
        }
        return Promise.all(pagePromises);
      },
    },
    mounted() {
      if (this.hasPDF) this.load();
    },
  };
</script>

<style>
  .pdf-viewer {
    background: url('./assets/img/bg.gif');
    display: flex;
    flex-flow: column nowrap;
  }
</style>
